.dyl {
  &-space {
    width: 100%;
    height: 100%;
    display: flex;
    &-row {
      align-items: center;
      span {
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
      div {
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
      p {
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-column {
      flex-direction: column;
      span {
        margin-bottom: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
      div {
        margin-bottom: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
      p {
        margin-bottom: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
